<h1>
    View Details Persone
</h1>
<div class="form-control">
    <div>
        <label for="" class="form-label"><b>firstname :</b></label> {{persone.firstname}}
    </div>
    <div>
        <label for="" class="form-label"><b>lastname :</b></label> {{persone.lastname}}
    </div>
    <div>
        <label for="" class="form-label"><b>birthday :</b></label> {{persone.birthday}}
    </div>
    <div>
        <label for="" class="form-label"><b>city :</b></label> {{persone.city}}
    </div>
    <div>
        <a mat-raised-button color="warn" href="/persones">Return</a>
    </div>
</div>